<div class="bg-carro bg-cover bg-center w-full h-[450px] flex items-center justify-center relative">
    <div class="absolute inset-0 bg-black/60 w-full h-full block"></div>
    <div class="max-w-2xl text-center text-white relative z-10">
        <h1 class="text-4xl font-bold mb-6"> Sua jornada começa com a <br>
            <span class="text-5xl">WN Locação de Veículos!</span> </h1>
        <p> 
            Seja para um passeio tranquilo, uma viagem de negócios ou aquela aventura inesperada, temos o veículo ideal para você. Escolha entre nossa frota de carros, SUVs e utilitários para tornar seu trajeto mais confortável e seguro. 
        </p>
    </div>
</div>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container *ngIf="cars().cars as list; else loading">
        <ng-container *ngIf="list?.length; else vazio">
            <app-card-car *ngFor="let car of list" [car]="car"></app-card-car>
        </ng-container>        
    </ng-container>
    <ng-template #loading>
        <p class="py-10 text-center text-black">Carregando carros…</p>
    </ng-template>

    <ng-template #vazio>
        <p class="py-10 text-center text-black">Nenhum carro encontrado.</p>
    </ng-template>
</div>
